/*v=1733484537384*/
.fl0 {
  flex: 0 0 1px;
  background-color: #000;
  align-self: stretch;
}
.fl1 {
  flex: 0 0 1px;
  background-color: #111;
  align-self: stretch;
}
.fl2 {
  flex: 0 0 1px;
  background-color: #222;
  align-self: stretch;
}
.fl3 {
  flex: 0 0 1px;
  background-color: #333;
  align-self: stretch;
}
.fl4 {
  flex: 0 0 1px;
  background-color: #444;
  align-self: stretch;
}
.fl5 {
  flex: 0 0 1px;
  background-color: #555;
  align-self: stretch;
}
.fl6 {
  flex: 0 0 1px;
  background-color: #666;
  align-self: stretch;
}
.fl7 {
  flex: 0 0 1px;
  background-color: #777;
  align-self: stretch;
}
.fl8 {
  flex: 0 0 1px;
  background-color: #888;
  align-self: stretch;
}
.fl9 {
  flex: 0 0 1px;
  background-color: #999;
  align-self: stretch;
}
.fla {
  flex: 0 0 1px;
  background-color: #aaa;
  align-self: stretch;
}
.flb {
  flex: 0 0 1px;
  background-color: #bbb;
  align-self: stretch;
}
.flc {
  flex: 0 0 1px;
  background-color: #ccc;
  align-self: stretch;
}
.fld {
  flex: 0 0 1px;
  background-color: #ddd;
  align-self: stretch;
}
.fle {
  flex: 0 0 1px;
  background-color: #eee;
  align-self: stretch;
}
.flf {
  flex: 0 0 1px;
  background-color: #fff;
  align-self: stretch;
}
.c0 {
  color: #000;
}
.c1 {
  color: #111;
}
.c2 {
  color: #222;
}
.c3 {
  color: #333;
}
.c4 {
  color: #444;
}
.c5 {
  color: #555;
}
.c6 {
  color: #666;
}
.c7 {
  color: #777;
}
.c8 {
  color: #888;
}
.c9 {
  color: #999;
}
.ca {
  color: #aaa;
}
.cb {
  color: #bbb;
}
.cc {
  color: #ccc;
}
.cd {
  color: #ddd;
}
.ce {
  color: #eee;
}
.cf {
  color: #fff;
}
.b0 {
  background-color: #000;
}
.b1 {
  background-color: #111;
}
.b2 {
  background-color: #222;
}
.b3 {
  background-color: #333;
}
.b4 {
  background-color: #444;
}
.b5 {
  background-color: #555;
}
.b6 {
  background-color: #666;
}
.b7 {
  background-color: #777;
}
.b8 {
  background-color: #888;
}
.b9 {
  background-color: #999;
}
.ba {
  background-color: #aaa;
}
.bb {
  background-color: #bbb;
}
.bc {
  background-color: #ccc;
}
.bd {
  background-color: #ddd;
}
.be {
  background-color: #eee;
}
.bf {
  background-color: #fff;
}
.f0 {
  font-size: 0;
}
.f1 {
  font-size: 1vw;
}
.f2 {
  font-size: 2vw;
}
.f3 {
  font-size: 3vw;
}
.f4 {
  font-size: 4vw;
}
.f5 {
  font-size: 5vw;
}
.f6 {
  font-size: 6vw;
}
.f7 {
  font-size: 7vw;
}
.f8 {
  font-size: 8vw;
}
.f9 {
  font-size: 9vw;
}
.f10 {
  font-size: 10vw;
}
.s1 {
  width: 1vw;
  height: 1vw;
}
.s2 {
  width: 2vw;
  height: 2vw;
}
.s4 {
  width: 4vw;
  height: 4vw;
}
.s8 {
  width: 8vw;
  height: 8vw;
}
.fs0 {
  flex-shrink: 0;
}
.f {
  display: flex;
}
.fl {
  display: flex;
  align-items: center;
}
.fg {
  flex-grow: 1;
}
.fc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fr {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.fcl {
  display: flex;
  flex-direction: column;
}
.fcc {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fcr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.fsa {
  justify-content: space-around;
}
.fsb {
  justify-content: space-between;
}
