/*v=1733484537384*/
.fl0 {
  flex: 0 0 1px;
  background-color: #000;
  align-self: stretch;
}
.fl1 {
  flex: 0 0 1px;
  background-color: #111;
  align-self: stretch;
}
.fl2 {
  flex: 0 0 1px;
  background-color: #222;
  align-self: stretch;
}
.fl3 {
  flex: 0 0 1px;
  background-color: #333;
  align-self: stretch;
}
.fl4 {
  flex: 0 0 1px;
  background-color: #444;
  align-self: stretch;
}
.fl5 {
  flex: 0 0 1px;
  background-color: #555;
  align-self: stretch;
}
.fl6 {
  flex: 0 0 1px;
  background-color: #666;
  align-self: stretch;
}
.fl7 {
  flex: 0 0 1px;
  background-color: #777;
  align-self: stretch;
}
.fl8 {
  flex: 0 0 1px;
  background-color: #888;
  align-self: stretch;
}
.fl9 {
  flex: 0 0 1px;
  background-color: #999;
  align-self: stretch;
}
.fla {
  flex: 0 0 1px;
  background-color: #aaa;
  align-self: stretch;
}
.flb {
  flex: 0 0 1px;
  background-color: #bbb;
  align-self: stretch;
}
.flc {
  flex: 0 0 1px;
  background-color: #ccc;
  align-self: stretch;
}
.fld {
  flex: 0 0 1px;
  background-color: #ddd;
  align-self: stretch;
}
.fle {
  flex: 0 0 1px;
  background-color: #eee;
  align-self: stretch;
}
.flf {
  flex: 0 0 1px;
  background-color: #fff;
  align-self: stretch;
}
.c0 {
  color: #000 !important;
}
.c1 {
  color: #111 !important;
}
.c2 {
  color: #222 !important;
}
.c3 {
  color: #333 !important;
}
.c4 {
  color: #444 !important;
}
.c5 {
  color: #555 !important;
}
.c6 {
  color: #666 !important;
}
.c7 {
  color: #777 !important;
}
.c8 {
  color: #888 !important;
}
.c9 {
  color: #999 !important;
}
.ca {
  color: #aaa !important;
}
.cb {
  color: #bbb !important;
}
.cc {
  color: #ccc !important;
}
.cd {
  color: #ddd !important;
}
.ce {
  color: #eee !important;
}
.cf {
  color: #fff !important;
}
.b0 {
  background-color: #000 !important;
}
.b1 {
  background-color: #111 !important;
}
.b2 {
  background-color: #222 !important;
}
.b3 {
  background-color: #333 !important;
}
.b4 {
  background-color: #444 !important;
}
.b5 {
  background-color: #555 !important;
}
.b6 {
  background-color: #666 !important;
}
.b7 {
  background-color: #777 !important;
}
.b8 {
  background-color: #888 !important;
}
.b9 {
  background-color: #999 !important;
}
.ba {
  background-color: #aaa !important;
}
.bb {
  background-color: #bbb !important;
}
.bc {
  background-color: #ccc !important;
}
.bd {
  background-color: #ddd !important;
}
.be {
  background-color: #eee !important;
}
.bf {
  background-color: #fff !important;
}
.f0 {
  font-size: 0px !important;
}
.f1 {
  font-size: 1px !important;
}
.f2 {
  font-size: 2px !important;
}
.f3 {
  font-size: 3px !important;
}
.f4 {
  font-size: 4px !important;
}
.f5 {
  font-size: 5px !important;
}
.f6 {
  font-size: 6px !important;
}
.f7 {
  font-size: 7px !important;
}
.f8 {
  font-size: 8px !important;
}
.f9 {
  font-size: 9px !important;
}
.f10 {
  font-size: 10px !important;
}
.f11 {
  font-size: 11px !important;
}
.f12 {
  font-size: 12px !important;
}
.f13 {
  font-size: 13px !important;
}
.f14 {
  font-size: 14px !important;
}
.f15 {
  font-size: 15px !important;
}
.f16 {
  font-size: 16px !important;
}
.f17 {
  font-size: 17px !important;
}
.f18 {
  font-size: 18px !important;
}
.f19 {
  font-size: 19px !important;
}
.f20 {
  font-size: 20px !important;
}
.f21 {
  font-size: 21px !important;
}
.f22 {
  font-size: 22px !important;
}
.f23 {
  font-size: 23px !important;
}
.f24 {
  font-size: 24px !important;
}
.f25 {
  font-size: 25px !important;
}
.f26 {
  font-size: 26px !important;
}
.f27 {
  font-size: 27px !important;
}
.f28 {
  font-size: 28px !important;
}
.f29 {
  font-size: 29px !important;
}
.f30 {
  font-size: 30px !important;
}
.f31 {
  font-size: 31px !important;
}
.f32 {
  font-size: 32px !important;
}
.f33 {
  font-size: 33px !important;
}
.f34 {
  font-size: 34px !important;
}
.f35 {
  font-size: 35px !important;
}
.f36 {
  font-size: 36px !important;
}
.f37 {
  font-size: 37px !important;
}
.f38 {
  font-size: 38px !important;
}
.f39 {
  font-size: 39px !important;
}
.f40 {
  font-size: 40px !important;
}
.f41 {
  font-size: 41px !important;
}
.f42 {
  font-size: 42px !important;
}
.f43 {
  font-size: 43px !important;
}
.f44 {
  font-size: 44px !important;
}
.f45 {
  font-size: 45px !important;
}
.f46 {
  font-size: 46px !important;
}
.f47 {
  font-size: 47px !important;
}
.f48 {
  font-size: 48px !important;
}
.f49 {
  font-size: 49px !important;
}
.f50 {
  font-size: 50px !important;
}
.f51 {
  font-size: 51px !important;
}
.f52 {
  font-size: 52px !important;
}
.f53 {
  font-size: 53px !important;
}
.f54 {
  font-size: 54px !important;
}
.f55 {
  font-size: 55px !important;
}
.f56 {
  font-size: 56px !important;
}
.f57 {
  font-size: 57px !important;
}
.f58 {
  font-size: 58px !important;
}
.f59 {
  font-size: 59px !important;
}
.f60 {
  font-size: 60px !important;
}
.s1 {
  width: 1vw;
  height: 1vw;
}
.s2 {
  width: 2vw;
  height: 2vw;
}
.s3 {
  width: 3vw;
  height: 3vw;
}
.s4 {
  width: 4vw;
  height: 4vw;
}
.s5 {
  width: 5vw;
  height: 5vw;
}
.s6 {
  width: 6vw;
  height: 6vw;
}
.s7 {
  width: 7vw;
  height: 7vw;
}
.s8 {
  width: 8vw;
  height: 8vw;
}
.s9 {
  width: 9vw;
  height: 9vw;
}
.s10 {
  width: 10vw;
  height: 10vw;
}
.fs0 {
  flex-shrink: 0;
}
.f {
  display: flex;
}
.fl {
  display: flex;
  align-items: center;
}
.fg {
  flex-grow: 1;
}
.fc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fr {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.fcl {
  display: flex;
  flex-direction: column;
}
.fcc {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fcr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.fsa {
  justify-content: space-around;
}
.fsb {
  justify-content: space-between;
}
.w0 {
  width: 0;
}
.h0 {
  height: 0;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
